body {
    margin: 0;
    font-family: Arial, sans-serif;
}



p{
    font-size: 20px;
    margin-top: 16px;
}

div p{
    color: aqua;
    margin-bottom: -8px;
}
.slider {
    position: relative;
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    display: block;
}

.active {
    display: block;
}

.slider{
    width: 100vh;
}
